@import 'bootstrap/dist/css/bootstrap';

.navbar-brand {
  font-weight: bold;
}
.navbar {
  margin-left: 20px;
  margin-right: 20px;
}

.search-area {
  padding-top: 50px;
}

.no-right-padding {
  padding-right: 0 !important;
}
.no-left-padding {
  padding-left: 0 !important;
}

.results-box {
  display: inline-block;
}